  /* overlay */
  #showcase .showcase-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4)
  }

/* display items block */
#what .items {
    display: block;
    padding: 1rem;
}

/* Align Icons to */
#what .items .item {
    display: flex;
    text-align: left;
}

#what .items .item h3 {
    text-align: left;
}  

/* Position icons */
#what .items .item i{
    align-self: center;
    margin-right: 1.3rem ;
    margin-bottom: 1rem;
}

@media (max-width:500px){
    #navbar{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
 
    #navbar .logo {
        font-size: 1.5rem;
        margin-bottom: 0.3rem; 
        text-align: center;      
    }
     
    #navbar ul  {
        padding: 0.3rem;
    }

    #showcase .showcase-content {
        /* top: 110px; */
    } 

    #who {
        display: block;
    }

    #who .who-img {
        display: none;
    }

    #clients .items img {
        width: 80%;
    }

    #clients .items div:last-child {
    display: none;
    }

    #contact {
        flex-direction: column;
    }

    #contact .map {
        height: 250px;
        border-top: 5px #333 solid;
    }
}
/* this section is to take the shadow away from the who section
as it drops down and covers some parts of the who we are section */
@media (max-height: 568px) {
#showcase .showcase-content {
 padding-top: -3rem;
 top: 0;
}

 .l-heading {
     font-size: 3rem;
 }

 .lead {
     font-size: 1rem;
 }
}

@media (max-height: 320px) {
#showcase .showcase-content {
  top: 0;
    } 
}